html {
    box-sizing: border-box;
}

body {
      min-height: 100%;
      margin:0;
}

#header{
    background-color: rgb(113, 203, 156);
    width: 100%;
    height: 50px;
    color: rgb(27, 27, 27);
}



#nav{
    background-color: rgb(58, 58, 58);
    width: 100%;
    height: 70px;
    margin-top: -18px;
}

#navul li{
    list-style: none;
    display: inline;
    line-height: 70px;
    padding-left: 10px;
    padding-right: 20px;
}

#navul li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;

}

#navul li a:hover{
    color: rgb(112, 223, 120);
}


#container{
    background-color: rgb(250, 250, 250);
    width: 100%;
    height: 700px;
}

#left{
    background-color: rgb(94, 84, 103);
    float: left;
    width: 20%;
    height: 100%;
}
#clul li{
    list-style: none;
    margin-left: -28;
}
#clul li a{
    text-decoration: none;
    color: rgb(255, 251, 236);
    font-size: 23;
}
#clul li a:hover{
    color: rgb(112, 223, 120);
    font-size: 26;
}
#right{
    background-color: #f6ffff;
    float: right;
    width: 80%;
    height: 100%;
}

#rcon p, li{
    margin-left: 20px;
    font-size: 20px;
    text-indent: 30px;
}

#rcon h2{
    margin-left: 20px;
}


#footer{
    background-color: rgb(206, 206, 206);
    width: 100%;
    height: 100px;
    margin-top: -17px;
    bottom: 0;
   
}

#ftul li{
    list-style: none;
    display: inline;
    line-height: 100px;
}